<%= form_for @user, url: {action: "update"}, html: { multipart: true } do |f| %>

<div class="field">
    <%= f.label :prof, "Profile Picture" %><br>
    <%= f.file_field :prof %><br>
    <!-- add a text field for name -->
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio, :placeholder => 'You need to add a bio!' %><br>
  </div>
  <div class="actions">
    <%= f.submit "Update your profile!" %>
  </div>

  <%end%>
