<div class="form-wrapper">
<%= simple_form_for @couplet, html: { class: 'form-horizontal', multipart: true } do |f| %>
  <div class="form-group">
  <%= f.input :image %>
</div>
  <div class="form-group text-center">
  <%= f.input :title, input_html: {class:"form-control"} %>
</div>
  <div class="form-group text-center">
  <%= f.input :first_line, as: :text, input_html: {class:"form-control"} %>
</div>
  <div class="form-group text-center">
  <%= f.input :last_line, as: :text, input_html: {class:"form-control"} %>
</div>
  <div class="form-group text-center">
  <%= f.button :submit %>
</div>
<% end %>
</div>
