<body>

    </div>
    <div class="image center-block">
      <%= image_tag @couplet.image.url(:medium) %>
    </div>
    <p class="title">
      <%= @couplet.title %>
    </p>
    <div class="name">
      <%= @couplet.user.user_name %>
    </div>
    <p class="first_line">
      <%= @couplet.first_line %>
    </p>
    <p class="last_line">
      <%= @couplet.last_line %>
    </p>
    <div class="text-center">

      <% if @couplet.user.id == current_user.id %>
          <div class="text-center edit-links">
            <%= link_to "Edit Couplet", edit_couplet_path(@couplet) %> <br>
            <%= link_to "Back to Couplet feed", couplets_path %>
            </div>
      <% else %>
          <div class="text-center edit-links">
            <%= link_to "Back to Couplet feed", couplets_path %>
        </div>
      <% end %>

    </div>
</body>
